<div class="border-bottom mb-4 d-flex justify-content-between align-items-center">
  <h1>Unidades</h1>
  <%= link_to new_unidade_path, class: 'btn btn-success' do %>
    <%= icon 'fas', 'plus-square'  %> Cadastrar unidade
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if @unidades.any? %>
        <% @unidades.each do |unidade| %>
          <tr>
            <td><%= link_to unidade.nome, unidade, remote: true %></td>
            <td>
              <%= icon 'fas', 'edit'  %>
              <%= link_to 'editar', edit_unidade_path(unidade) %> |
              <%= icon 'fas', 'trash'  %> 
              <%= link_to 'remover', unidade, method: :delete, data: { confirm_swal: 'Você tem certeza?' }, class: "text-danger" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2" class="text-center">Sem registros.</td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
