
<%= simple_form_for(@especificacao_ativo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nome %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar e voltar', especificacao_ativos_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
