<div class="border-bottom mb-4 d-flex justify-content-between align-items-center">
  <h1>Manutenções</h1>
  <%= link_to new_manutencao_path, class: 'btn btn-success' do %>
    <%= icon 'fas', 'plus-square'  %> Cadastrar manutenção
  <% end %>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Situação</th>
      <th>Ativo</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% if @manutencoes.any? %>
      <% @manutencoes.each do |manutencao| %>
        <tr>
          <td><%= link_to "OS ##{manutencao.id}", manutencao %></td>
          <td><%= manutencao.aasm.human_state %></td>
          <td><%= manutencao.ativo %></td>
          <td>
            <%= icon 'fas', 'edit'  %>
            <%= link_to 'editar', edit_manutencao_path(manutencao) %> |
            <%= icon 'fas', 'trash'  %>
            <%= link_to 'remover', manutencao, method: :delete, data: { confirm_swal: 'Você tem certeza?' }, class: 'text-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center">Sem registros.</td>
      </tr>
    <% end %>
    
  </tbody>
</table>
</div>
