<div class="border-bottom mb-4 d-flex justify-content-between align-items-center">
  <h1>Técnicos</h1>
  <%= link_to new_tecnico_path, class: 'btn btn-success' do %>
    <%= icon 'fas', 'plus-square'  %> Cadastrar técnico
  <% end %>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @tecnicos.each do |tecnico| %>
      <tr>
        <td><%= link_to tecnico.nome, tecnico, remote: true %></td>
        <td>
          <%= icon 'fas', 'edit'  %>
          <%= link_to 'editar', edit_tecnico_path(tecnico) %>
          <%= icon 'fas', 'trash'  %> 
          <%= link_to 'remover', tecnico, method: :delete, data: { confirm_swal: 'Você tem certeza ?' }, class: "text-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
