<!DOCTYPE html>
<html>
  <head>
    <title>Sigasedesc</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sb-nav-fixed">
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <div id="layoutSidenav">
      <%= render 'shared/sidebar' %>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid p-4">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
    <div class="modal fade" id="modal-window" tabindex="-1" aria-labelledby="Modal" aria-hidden="true"></div>
  </body>
</html>
